<% @page_title = "All Quizzes" %>
<div class="quizzes index">
  <h2>Quizzes</h2>
  <%=link_to("Add New Quiz", new_quiz_path, :class => 'action new')%>
  <br>
  <%=link_to "Home", access_menu_path%>
  <table class="listing" summary="Quiz list">
    <tr class="header">
      <th>ID</th>
      <th>Name</th>
      <th>Score Percent</th>
    </tr>
    <%@quizzes.each do |quiz|%>
      <tr>
        <td><%=quiz.id%>
        <td><%=quiz.name%></td>
        <td><%=quiz.score_percent%></td>
        <td class="actions">
          <%=link_to("Show", quiz_path(quiz), :class => 'action show')%>
          <%=link_to("Edit", edit_quiz_path(quiz), :class => 'action edit')%>
          <%=link_to("Delete", delete_quiz_path(quiz), :class => 'action delete')%>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<style>
.img{
position: center;
  margin-left: 430px;
  width: 50%;
  padding: 10px;
  height: 300px;
  width: 300px;
}
</style>